
* {
    box-sizing: border-box;
}

body {
    background: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#customer {
    cursor: pointer;
}

#order {
    cursor: pointer;
}

#date {
    cursor: pointer;
}
